@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Timmana);
.header {
    align-content: center;
    width: auto;
    height: auto;
    align-items: center;
}
.h-title {
    width: 200px;
    text-align: center;
    border: solid #cc0000;
    background: #cc0000;
    color: white;
    border-radius: 5px;
    font:bolder;  
}
.pokemon {
    border:solid red 10px;
    border-radius: 10px;
    width: 580px;
    height: 660px;
    margin-left: 75px;
    margin-top: 2px;
    background: #cc0000;
    color: floralwhite;
}
.adinfo {
    font-size: 18px;
    font-family: 'Source Code Pro',serif;
}
.pdpanel {
    margin: 25px auto;
    width: 640px;
}
.panel_heading{
    font-family: 'Noto Serif';
}
#adv_btn{
    text-decoration: none;
    color:black; 
    float: left; 
    margin-right: 25px; 
    display:none;
}
.Adv_Title {
    font-size: 24px;
    height: 35px;
    width: 270px;
    text-align: center;
    align-self: center;
  font-family: 'Noto Serif',serif;
}
.pokeb_ico {
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
}
.lgi {
    font-size: 15px;
    font-family: 'Source Code Pro';
}
.lgi_info {
    font-size: 16px;
    font-family: "Timmana";
}